<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Playground</h1>
        <ul>
            <% for(let i =0;i<=10;i++){ %>
                <li>
                    <p><%= i  %></p>
                </li>
                
            <%}%>
        </ul>

    </body>
</html>
